# Ambientes virtuais
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados brutos (arquivos grandes)
dados/DBC/
dados/dados_sih_2024.csv

# Arquivos pesados de geodados (IMPORTANTE no seu projeto)
dados/*.osm.pbf
dados/*.graphml
dados/*.pbf

# Outputs grandes (evita estourar GitHub de novo)
output/*.html
output/*.geojson
output/*.parquet

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db