# Ambientes virtuais
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados brutos (arquivos grandes)
dados/DBC/
dados/dados_sih_2024.csv

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
